@import "tailwindcss";

@theme {
  --color-brand-blue: #0055ff;
  --color-brand-blue-light: #3388ff;
  --color-brand-blue-glow: rgba(0, 85, 255, 0.5);
  
  --color-brand-green: #5cff00;
  --color-brand-green-light: #8eff4d;
  --color-brand-green-glow: rgba(92, 255, 0, 0.5);
  
  --color-dark-bg: #08080a;
  --color-dark-surface: #121216;
  --color-dark-border: #22222a;
}

@layer base {
  body {
    @apply bg-dark-bg text-gray-100 antialiased;
  }
}
